/* ====== button-links begin ====== */

.logo {
	display: block;
	width: 149px;
	height: 152px;
	margin: 0 auto;

	background-image: url(/img/logo.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.btn {
	@include font-900-italic;
	font-size: 16px;
	padding: 9px 15px;
	text-decoration: none;	
}
	.btn_try {
		font-size: 18px;
		padding: 8px;
	}

	.btn_main-color {
		color: #000;
		background-image: url(/img/bg/btn-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.btn_block {
		display: inline-block;
		margin-top: 30px;
	}

.icon {
	float: left;
	margin-right: 8px;
}
	.icon_timetable {
		width: 25px;
    	float: left;
    	height: 23px;
    	margin-right: 8px;
    	background-image: url(/img/icons/icon-calendar.png);
	}

	.icon_location {
		width: 10px;
    	float: left;
    	height: 14px;
    	margin-right: 8px;
    	background-image: url(/img/icons/icon-location.png);
	}
.single-link {
	display: inline-block;
	color: $main-color;
	text-decoration: none;
	font-weight: bold;
	margin-top: 20px;
}
/* ====== button-links end ====== */


