/* ====== button-links begin ====== */

.logo {
	display: block;
	width: 149px;
	height: 112px;
	margin: 0 auto;

	background-image: url(/img/logo.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

/* ====== button-links end ====== */