/*====== header-footer begin ====== */

#header {
	display: block;
	min-height: 152px;
	background-image: url(/img/bg/bg-header.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.info_header {
	margin-top: 50px;
}
.info_footer {
	margin-top: 74px;
}

.info {	

	.info-links {
		float: left;

		/*elements*/
		ul li {
			list-style: none;
			float: left;
			margin-right: 20px;
		}

		a {
			color: #fff;
			text-decoration: none;
			display: block;

			@include font-900-italic;
			font-size: 20px;
			text-transform: uppercase;

			&:hover {
			color: $main-color;
		}

		

		/*modificators*/
		/*states*/
		}
		.info-link_timetable:hover .icon_calendar {
			background-position: -34px -28px;
		}	
	}
	.info-links_vertical ul li {
		display: block;
		float: none;
		// line-height: 40px;
		margin-bottom: 30px;
	}
	.info-links_vertical ul li:last-child {
		margin-left: 32px;
	}

	.info-contacts {
		float: right;
		display: table;

		/*elements*/
		.info-contacts__location {
			display: table-cell;
    		vertical-align: middle;
    		padding-right: 10px;
    		
			@include text-font;
			color: $main-color;	
			font-size: 16px;				
		}

		.info-contacts__phone {
			@include font-900-normal;
			color: #fff;
			font-size: 24px;
			.phone-code {
				color: $phone-color;
			}
		}

		/*modificators*/
		/*states*/		
	}


	.info-contacts_vertical	{

		.info-contacts__location,
		.info-contacts__phone {
			float: right;
		}
		.info-contacts__phone {
			margin-top: 20px;
		}
	}
}


.menu_header {
	margin-top: 24px;
}
.menu_footer {
	margin-top: 74px;
}
.menu {
	
	// padding: 11px 0;
	
	.main-menu li {
		float: left;
		margin-right: 34px;
		list-style: none;
	}

	.main-menu {
		a {
			position: relative;			
			@include font-900-italic;
			color: $main-color;
			text-decoration: none;
			font-size: 18px;

			&:after {
				display: block;
				content: "";
				position: absolute;
				height: 2px;
				width: 0%;
				bottom: -3px;
				background-color: $main-color;
				transition: width 100ms;
			}

			&:hover:after {
				width: 100%;
			}
			}
		}
	/*elements*/

	/*modificators*/
	.main-menu_horizontal {
		float: left;
		line-height: 38px;

		.btn {
			float: right;
		}
	}

	.main-menu_vertical li {
		display: block;
		float: none;

	}
	/*states*/	
}

#footer {
	min-height: 276px;	
	background-image: url(/img/bg/bg-footer.png);
}

