.swiper-container {
    width: 100%;
    height: 630px;
}
.thermal-complex {
	margin: 30px 0;
}
.hero-text-holder {
	// position: relative;
	position: absolute;
	height: 100%;
}


.hero-text_center {
	right: 0;
    width: 25%;
    text-align: center;

	@media screen and (max-width: 667px) {
		width: 100%;
		right: 0;
		bottom: 0;			
	}
}

.hero-slider__controls {
	margin-top: -100px;
	z-index: 5;
}

.slider-controls {
	position: absolute;
}

.aswiper-button-prev,
.aswiper-button-next {
	color: $main-color;
}
.swiper-slide {
	position: relative;
	background-size: cover;
	background-position: top center;
	&:after {
			display: none;
			content: "";
			opacity: .4;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			@include gradient_gray-yellow;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
}