.swiper-container {
    width: 100%;
    height: 630px;
}
.hero-text-holder {
	position: relative;
	height: 100%;
}

.hero-text {
	background-color: rgba(0,0,0,.7);
	padding: 40px 25px 65px 25px;
	position: absolute;
	bottom: 4%;
	right: 0;
	width: 50%;
	z-index: 2;
	h2 {
		color: $main-color;
	}
	p {
		color: white;
	}
}

.hero-slider__controls {
	margin-top: -100px;
	z-index: 5;
}

.slider-controls {
	position: absolute;
}

.aswiper-button-prev,
.aswiper-button-next {
	color: $main-color;
}