
@mixin font-700-italic {
	font-family: 'DIN-Pro-Cond';
	font-weight: bold;	
	text-transform: uppercase;
	font-style: italic;
}

@mixin font-900-italic {
	font-family: 'DIN-Pro-Cond';
	font-weight: 900;	
	text-transform: uppercase;
	font-style: italic;
}

@mixin font-900-normal {
	font-family: 'DIN-Pro-Cond';
	font-weight: 900;	
	text-transform: uppercase;
	font-style: normal;
}

@mixin text-font {
	font-family: 'PF-Din';
	font-weight: normal;	
}

@mixin gradient_gray-yellow {
	background-image: -ms-linear-gradient(left, #000000 0%, #000000 15%, transparent 50%, #CBA860 85%, #CBA860 100%);
	background-image: -moz-linear-gradient(left, #000000 0%, #000000 15%, transparent 50%, #CBA860 85%, #CBA860 100%);
	background-image: -o-linear-gradient(left, #000000 0%, #000000 15%, transparent 50%, #CBA860 85%, #CBA860 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #000000), color-stop(15, #000000), color-stop(50, transparent), color-stop(85, #CBA860), color-stop(100, #CBA860));
	background-image: -webkit-linear-gradient(left, #000000 0%, #000000 15%, transparent 50%, #CBA860 85%, #CBA860 100%);
	background-image: linear-gradient(to right, #000000 0%, #000000 15%, transparent 50%, #CBA860 85%, #CBA860 100%);
}