
@mixin font-700-italic {
	font-family: 'DIN-Pro-Cond';
	font-weight: bold;	
	text-transform: uppercase;
	font-style: italic;
}

@mixin font-900-italic {
	font-family: 'DIN-Pro-Cond';
	font-weight: 900;	
	text-transform: uppercase;
	font-style: italic;
}

@mixin font-900-normal {
	font-family: 'DIN-Pro-Cond';
	font-weight: 900;	
	text-transform: uppercase;
	font-style: normal;
}

@mixin text-font {
	font-family: 'PF-Din';
	font-weight: normal;	
}
