@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* ====== fonts begin ====== */
@font-face {
  font-family: 'DIN-Pro-Cond';
  src: url("/fonts/DINPro/DINPro-CondensedBlackItalic.eot");
  src: local("DIN Pro Condensed Black Italic"), local("DINPro-CondensedBlackItalic"), url("/fonts/DINPro/DINPro-CondensedBlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/DINPro/DINPro-CondensedBlackItalic.woff") format("woff"), url("/fonts/DINPro/DINPro-CondensedBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'DIN-Pro-Cond';
  src: url("/fonts/DINPro/DINPro-CondensedBoldItalic.eot");
  src: local("DIN Pro Condensed Bold Italic"), local("DINPro-CondensedBoldItalic"), url("/fonts/DINPro/DINPro-CondensedBoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/DINPro/DINPro-CondensedBoldItalic.woff") format("woff"), url("/fonts/DINPro/DINPro-CondensedBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'DIN-Pro-Cond';
  src: url("/fonts/DINPro/DINPro-CondensedBlack.eot");
  src: local("DIN Pro Condensed Black"), local("DINPro-CondensedBlack"), url("/fonts/DINPro/DINPro-CondensedBlack.eot?#iefix") format("embedded-opentype"), url("/fonts/DINPro/DINPro-CondensedBlack.woff") format("woff"), url("/fonts/DINPro/DINPro-CondensedBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'PF-Din';
  src: url("/fonts/PFDin/subset-PFDinTextCondPro-Regular.eot");
  src: url("/fonts/PFDin/subset-PFDinTextCondPro-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/PFDin/subset-PFDinTextCondPro-Regular.woff") format("woff"), url("/fonts/PFDin/subset-PFDinTextCondPro-Regular.ttf") format("truetype"), url("/fonts/PFDin/subset-PFDinTextCondPro-Regular.svg#PFDinTextCondPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

body, p {
  font-family: 'PF-Din';
  font-weight: normal;
  font-size: 16px;
  color: #262626;
  line-height: 22px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'DIN-Pro-Cond';
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 30px;
  margin-bottom: 40px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 21px; }

h5 {
  font-size: 19px; }

h6 {
  font-size: 17px;
  margin-bottom: 30px; }

/* ====== fonts end ====== */
/*====== grid ====== */
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col,
.tile {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  overflow: hidden; }

@media (max-width: 960px) {
  .container {
    width: 95%;
    padding: 0; } }

/*тайлы - для создания сетки без отступов м/у элементами. все элементы прижаты друг к другу ака windows tiles*/
.tile {
  margin: 0; }

.tile-1 {
  width: 8.3333%; }

.tile-2 {
  width: 16.6667%; }

.tile-3 {
  width: 25%; }

.tile-4 {
  width: 33.3333%; }

.tile-5 {
  width: 41.6667%; }

.tile-6 {
  width: 50%; }

.tile-7 {
  width: 58.3333%; }

.tile-8 {
  width: 66.6667%; }

.tile-9 {
  width: 75%; }

.tile-10 {
  width: 83.3333%; }

.tile-11 {
  width: 91.6667%; }

.tile-12 {
  width: 100%; }

/* Offsets */
.offset-tile-1 {
  width: 8.3333%; }

.offset-tile-2 {
  width: 16.6667%; }

.offset-tile-3 {
  width: 25%; }

.offset-tile-4 {
  width: 33.3333%; }

.offset-tile-5 {
  width: 41.6667%; }

.offset-tile-6 {
  width: 50%; }

.offset-tile-7 {
  width: 58.3333%; }

.offset-tile-8 {
  width: 66.6667%; }

.offset-tile-9 {
  width: 75%; }

.offset-tile-10 {
  width: 83.3333%; }

.offset-tile-11 {
  width: 91.6667%; }

/*колонки - для создания сетки с отступами между колонок. Крайние элементы - прижаты к бокам контейнера*/
.col {
  margin-left: 4%; }

.col:first-child,
.col:first-child {
  margin-left: 0; }

.col-1 {
  width: 4.66666666667%; }

.col-2 {
  width: 13.3333333333%; }

.col-3 {
  width: 22%; }

.col-4 {
  width: 30.6666666667%; }

.col-5 {
  width: 39.3333333333%; }

.col-6 {
  width: 46%; }

.col-7 {
  width: 56.6666666667%; }

.col-8 {
  width: 65.3333333333%; }

.col-9 {
  width: 74.0%; }

.col-10 {
  width: 82.6666666667%; }

.col-11 {
  width: 91.3333333333%; }

.col-12 {
  width: 100%;
  margin-left: 0; }

.col-third {
  width: 30.6666666667%; }

.col-2-thirds {
  width: 65.3333333333%; }

.col-half {
  width: 48%; }

/* Offsets */
.offset-col-1 {
  margin-left: 8.66666666667%; }

.offset-col-2 {
  margin-left: 17.3333333333%; }

.offset-col-3 {
  margin-left: 26%; }

.offset-col-4 {
  margin-left: 34.6666666667%; }

.offset-col-5 {
  margin-left: 43.3333333333%; }

.offset-col-6 {
  margin-left: 52%; }

.offset-col-7 {
  margin-left: 60.6666666667%; }

.offset-col-8 {
  margin-left: 69.3333333333%; }

.offset-col-9 {
  margin-left: 78.0%; }

.offset-col-10 {
  margin-left: 86.6666666667%; }

.offset-col-11 {
  margin-left: 95.3333333333%; }

.offset-col-third {
  margin-left: 34.6666666667%; }

.offset-col-2-thirds {
  margin-left: 69.3333333333%; }

.offset-col-half {
  margin-left: 52%; }

.f-right {
  float: right; }

.f-left {
  float: left; }

.full-width {
  width: 100%; }

.wrap {
  overflow: hidden;
  width: 100%;
  height: 100%; }

body {
  background-image: url(/img/bg/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 50%; }

#mobile-menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  opacity: 1;
  -webkit-transition: all 300ms;
  transition: all 300ms; }

#mobile-menu-overlay.mobile-menu-overlay_hidden {
  opacity: 0;
  z-index: -1; }

.mobile-menu-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  min-height: 50px;
  background-image: url(/img/bg/bg-header.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: 200ms;
  transition: 200ms; }
  .mobile-menu-bar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .mobile-menu-bar .container .logo {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 0 0;
      opacity: .9;
      background-image: url(/img/logo.png);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain; }
  @media screen and (max-width: 767px) {
    .mobile-menu-bar .info .info-contacts .info-contacts__location {
      display: none; } }
  @media screen and (max-width: 461px) {
    .mobile-menu-bar .info .info-contacts .info-contacts__phone {
      font-size: 18px; } }
  @media screen and (max-width: 960px) {
    .mobile-menu-bar {
      -webkit-transform: translateY(0);
      transform: translateY(0); } }

#mobile-menu {
  position: fixed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 260px;
  height: 100%;
  background-color: black;
  z-index: 100;
  padding: 30px;
  -webkit-transition: 300ms;
  transition: 300ms;
  z-index: 10; }
  #mobile-menu #btnCloseMobileMenu {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 24px;
    height: 24px;
    background-image: url(/img/icons/icon-close-mobile-menu.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer; }
  #mobile-menu .info .info-links {
    float: none;
    display: block; }
    #mobile-menu .info .info-links ul li {
      margin-right: 0px; }
    #mobile-menu .info .info-links .info-link_timetable:hover .icon_calendar {
      background-position: -34px -28px; }
  #mobile-menu .info .info-links_vertical ul li {
    margin-bottom: 15px; }
  #mobile-menu .info .info-links_vertical ul li:last-child {
    margin-left: 0px; }
  #mobile-menu .info .info-contacts {
    float: left;
    display: table; }
    #mobile-menu .info .info-contacts .info-contacts__location {
      display: block;
      padding-right: 0px;
      font-family: 'PF-Din';
      font-weight: normal;
      color: #f6c834;
      font-size: 16px; }
    #mobile-menu .info .info-contacts .info-contacts__phone {
      font-family: 'DIN-Pro-Cond';
      font-weight: 900;
      text-transform: uppercase;
      font-style: normal;
      color: #fff;
      font-size: 24px; }
      #mobile-menu .info .info-contacts .info-contacts__phone .phone-code {
        color: #b0a283; }
  #mobile-menu .info .info-contacts_vertical .info-contacts__location,
  #mobile-menu .info .info-contacts_vertical .info-contacts__phone {
    float: left; }
  #mobile-menu .info .info-contacts_vertical .info-contacts__phone {
    margin-top: 20px; }

.mobile-menu_hidden {
  -webkit-transform: translateX(-260px);
  transform: translateX(-260px); }

.logo {
  display: block;
  width: 149px;
  height: 152px;
  margin: 0 auto;
  opacity: .9;
  background-image: url(/img/logo.png);
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .logo:hover {
    opacity: 1; }

.btn {
  font-family: 'DIN-Pro-Cond';
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  font-size: 16px;
  padding: 9px 15px;
  text-decoration: none;
  opacity: .9; }
  .btn:hover {
    opacity: 1; }
  @media screen and (max-width: 960px) {
    .btn {
      font-size: 14px; } }

.btn_try {
  font-size: 18px;
  padding: 8px; }
  .btn_try:hover {
    opacity: 1;
    background-size: 400%;
    backgroun-position: left center;
    color: #000; }

.btn_main-color {
  color: #000;
  background-image: url(/img/bg/btn-bg.png);
  background-repeat: no-repeat;
  background-size: cover; }

.btn_block {
  display: inline-block;
  margin-top: 30px; }

.icon {
  float: left;
  margin-right: 8px;
  background-image: url(/img/icons/sprite.png); }

.icon_calendar {
  background-position: -1px -27px;
  width: 25px;
  height: 23px; }

.icon_location {
  margin-top: 4px;
  background-position: 0 0;
  width: 11px;
  height: 14px;
  background-image: url(/img/icons/sprite.png); }

.single-link {
  display: inline-block;
  color: #f6c834;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px; }
  .single-link:hover {
    color: #000;
    text-decoration: underline; }

a {
  color: #f6c834;
  text-decoration: none; }
  a:hover {
    color: #000; }

.hamburger-menu {
  position: relative;
  padding-left: 30px;
  color: #f6c834;
  display: table;
  font-family: 'DIN-Pro-Cond';
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  cursor: pointer; }
  .hamburger-menu .hamburger-icon {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    width: 20px;
    height: 14px;
    left: 0;
    top: 4px; }
    .hamburger-menu .hamburger-icon .hamburger-bar {
      display: block;
      width: 100%;
      height: 2px;
      margin-bottom: 4px;
      background-color: #f6c834;
      border-radius: 2px; }

#header {
  display: block;
  min-height: 152px;
  background-image: url(/img/bg/bg-header.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (max-width: 960px) {
    #header {
      display: none; } }

.info .info-links {
  float: left; }
  .info .info-links ul li {
    list-style: none;
    float: left;
    margin-right: 20px; }
  .info .info-links a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: 'DIN-Pro-Cond';
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase; }
    .info .info-links a:hover {
      color: #f6c834; }
    @media screen and (min-width: 961px) and (max-width: 1050px) {
      .info .info-links a {
        font-size: 16px; } }
  .info .info-links .info-link_timetable:hover .icon_calendar {
    background-position: -34px -28px; }

.info .info-links_vertical ul li {
  display: block;
  float: none;
  margin-bottom: 30px; }

.info .info-links_vertical ul li:last-child {
  margin-left: 32px; }

.info .info-contacts {
  float: right;
  display: table; }
  .info .info-contacts .info-contacts__location {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    font-family: 'PF-Din';
    font-weight: normal;
    color: #f6c834;
    font-size: 16px; }
    @media screen and (min-width: 961px) and (max-width: 1050px) {
      .info .info-contacts .info-contacts__location {
        font-size: 14px; } }
  .info .info-contacts .info-contacts__phone {
    font-family: 'DIN-Pro-Cond';
    font-weight: 900;
    text-transform: uppercase;
    font-style: normal;
    color: #fff;
    font-size: 24px; }
    .info .info-contacts .info-contacts__phone .phone-code {
      color: #b0a283; }
    @media screen and (min-width: 961px) and (max-width: 1050px) {
      .info .info-contacts .info-contacts__phone {
        font-size: 20px; } }

.info .info-contacts_vertical .info-contacts__location,
.info .info-contacts_vertical .info-contacts__phone {
  float: right; }

.info .info-contacts_vertical .info-contacts__phone {
  margin-top: 20px; }

.info_header {
  margin-top: 50px; }

.info_footer {
  margin-top: 74px; }

.menu_header {
  margin-top: 24px; }

.menu_footer {
  margin-top: 74px; }

.menu .main-menu li {
  float: left;
  margin-right: 34px;
  list-style: none; }
  @media screen and (min-width: 961px) and (max-width: 1050px) {
    .menu .main-menu li {
      margin-right: 24px !important; } }

.menu .main-menu a {
  position: relative;
  font-family: 'DIN-Pro-Cond';
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  color: #f6c834;
  text-decoration: none;
  font-size: 18px; }
  .menu .main-menu a:after {
    display: block;
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    bottom: -3px;
    background-color: #f6c834;
    -webkit-transition: width 100ms;
    transition: width 100ms; }
  .menu .main-menu a:hover:after {
    width: 100%; }

.menu .main-menu_horizontal {
  float: left;
  line-height: 38px; }
  .menu .main-menu_horizontal .btn {
    float: right; }

.menu .main-menu_vertical li {
  display: block;
  float: none; }

#footer {
  min-height: 276px;
  background-image: url(/img/bg/bg-footer.png); }

.cards .cards__one-card {
  position: relative; }
  .cards .cards__one-card:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 30px;
    bottom: 0;
    right: 0; }

.features {
  position: relative;
  -webkit-box-sizing: borer-box;
  box-sizing: borer-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 4px;
  background-color: #fff; }
  .features .section__bg {
    position: absolute;
    bottom: 0;
    left: -1700px;
    height: 260px;
    background-color: #e7e7e7;
    position: absolute;
    width: 4500px;
    z-index: -1; }
  .features .features__tile {
    margin: 5px;
    position: relative;
    min-height: 250px;
    background-size: cover;
    background-position: 50% 50%; }
    .features .features__tile:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, rgba(0, 0, 0, 0.5)));
      background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.5) 70%);
      background-size: 100%;
      -webkit-transition: all 200ms;
      transition: all 200ms; }
    .features .features__tile:after {
      position: absolute;
      bottom: 0;
      left: -50%;
      height: 260px;
      background-color: #e7e7e7;
      position: absolute;
      width: 2500px;
      z-index: -1; }
    .features .features__tile span {
      position: absolute;
      bottom: 17%;
      left: 20px;
      color: #f6c834;
      font-family: 'DIN-Pro-Cond';
      font-weight: bold;
      text-transform: uppercase;
      font-style: italic;
      font-size: 24px; }
    .features .features__tile:hover:before {
      background-color: rgba(0, 0, 0, 0.4); }
  .features .features__tile_span6 {
    width: 49%;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2; }
  .features .features__tile_span3 {
    width: 24%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.text-section {
  padding: 50px 0; }
  .text-section .tile-6 {
    padding: 30px; }

.with-bg {
  background-color: #e7e7e7; }

.news .row {
  padding-bottom: 15px;
  /*чтобы у важной новости был виден треугольник снизу*/ }

.news .news-item {
  padding: 0;
  /*убираем двойные паддинги внутри tile-6*/ }

.news .news-item:first-of-type {
  margin-left: 0; }

.news .news-item__type {
  margin: 20px 0 0 0;
  font-weight: bold; }

.news .news-item_important {
  position: relative;
  background-color: #e7e7e7;
  padding: 20px;
  margin-top: -20px; }
  .news .news-item_important:after {
    display: table;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    bottom: 20px;
    background-image: url(/img/icons/icon-attention.png);
    background-repeat: no-repeat; }
  .news .news-item_important:before {
    display: table;
    content: "";
    position: absolute;
    width: 28px;
    height: 15px;
    left: 12%;
    bottom: -15px;
    background-image: linear-gradient(338deg, #fff 50%, #e7e7e7 50%);
    background-repeat: no-repeat; }

.swiper-container {
  width: 100%;
  height: 630px; }

.hero-text-holder {
  position: relative;
  height: 100%; }

.hero-text {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px 25px 65px 25px;
  position: absolute;
  bottom: 4%;
  right: 0;
  width: 50%;
  z-index: 2; }
  .hero-text h2 {
    color: #f6c834; }
  .hero-text p {
    color: white; }

.hero-slider__controls {
  margin-top: -100px;
  z-index: 5; }

.slider-controls {
  position: absolute; }

.aswiper-button-prev,
.aswiper-button-next {
  color: #f6c834; }
